<nav class="navbar navbar-dark bg-dark fixed-top ">
    <nav class="d-inline-block  ">
     <a class="navbar-brand" [routerLink]="['cita/cita-create']">cita-create</a>
    <a  class="navbar-brand" [routerLink]="['cita/cita-list']">cita-list</a>
    <a class="navbar-brand" [routerLink]="['cita/cita-update']">cita-update</a>
    </nav>
    
</nav>